<appSettings>
  <add key="MailServer" value="dev-smtp.vidly.com"/>
  <add key ="FacebookAppId" value="186644072414858"/>
  <add key ="FacebookAppSecret" value="6c4897e1c65cf5446e5c7db4d59982c3"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>